<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="baseUrl" value="https://habeshamatrimony.cognitiveservices.azure.com" />
        <add key="ocpApimKey" value="1f3b9172b41a46fd9ac45f7da351c801" />
    </appSettings>
</configuration>