<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="baseUrl" value="https://westus.api.cognitive.microsoft.com" />
        <add key="ocpApimKey" value="9457ca7fc0ab4d56a36a8478f7cae989" />
    </appSettings>
</configuration>